    /* color pallet - https://colorhunt.co/palette/1c67583d8361d6cda4eef2e6  */
    body {
        background-color: #EEF2E6;
        color: #3D8361;
    }
    hr {
        border-style: dotted none none;
        border-width: 10px;
        border-color: #D6CDA4;
        width: 15%;
    }
    h1 {
        color: #1C6758;
    }
    h3 {
        color: #1C6758;
    }