/* Whole Page */
.section-icon{
    width: 15rem;
}
.section-inner{
    padding: 1%;
}
.table{
    color: #1C6758;
}
.table-striped{
    --bs-table-striped-color: #1C6758;
}
/* Education */
.education-sec{
    background-color: #C1DCCA;
}
.edu-details{
    text-align: left;
}

/* Work History */
.work-history{
    background-color: #C1DCCA;
}
.work-details{

}

/* Skills */
.skills-sec{
    background-color: #C1DCCA;
}
.skill-details{

}
