/* Main */
.img-fluid{
    width: 20rem;
    padding: 1% 0 0 0;
}
.greeting{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 2rem;
}
.my-name{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 3rem;
}
.blurb{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

