
    <!-- Contact Form Modal -->
    <div class="modal fade" id="contactMeForm" tabindex="-1" aria-labelledby="contactMeFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="contactMeFormLabel">Contact Me (WIP)</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('message_sent') }}" method="post">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input name="name" type="text" id="contact-name" class="form-control" />
                            <label class="form-label" for="contact-name">Name</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input name="email" type="email" id="contact-email" class="form-control" />
                            <label class="form-label" for="contact-email">Email address</label>
                        </div>
                        <!-- textarea input -->
                        <div class="form-outline mb-4">
                            <textarea name="message" id="email-message" rows="4" class="form-control"></textarea>
                            <label class="form-label" for="email-message">Your message</label>
                        </div>

                        <!-- Checkbox -->
                        <!--
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input name="cc_me" class="form-check-input me-2" type="checkbox" value="" id="checkbox4" checked />
                            <label class="form-check-label" for="checkbox4">
                                Send me a copy of this message
                            </label>
                        </div>
                        -->

                        <!-- Submit button -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Idea, instead of the submit button navigating away have it close and navigate to another modal with a message
stating "message sent" -->
