    {% extends "blank-template.html" %}
    {% block title %}JO - Home{% endblock %}
    {% block page_styles %}
    <!-- Page Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home-styles.css') }}">
    {% endblock %}

    {% block content %}
    <!-- Page Content -->
    <section id="main">
        <div class="container-fluid">
            <h1>(This site is still a work in progress)</h1>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fluid rounded-circle profile-pic" src="{{ url_for('static', filename='images/profile_picture_square.jpg') }}">
                </div>
                <div class="col-lg-3 col-md-8 col-sm-12 d-flex align-items-center justify-content-center">
                    <p>Hello I'm Jan Olson, welcome to my website. Here I post the various projects I'm working on both
                        personal and professional. You'll find my current CV and skillset listed as well as examples of
                        my work. Take a look around and message me if the urge strikes you.
                    </p>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col" style="background-color: yellow">
                    more stuff goes here
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
