{% extends "blank-template.html" %}
    {% block title %}Message Confirmation{% endblock %}
    {% block page_styles %}
    <!-- Page Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message-sent-styles.css') }}">
    {% endblock %}

    {% block content %}
    <!-- Page Content -->
    <section id="main">
        <div class="container-fluid">
            <h1>Message sent!</h1>
            <h2>(but not really this is still a work in progress)</h2>
            <h3>This page will redirect after 5 seconds.</h3>
        </div>
    </section>
    {% endblock %}
    {% block scripts %}
    <!-- scripts -->
    <script>
     window.setTimeout(function(){
       window.location.href = "{{ url_for('home') }}";
       }, 5000);
    </script>
    {% endblock %}
