
    <!-- Page Top -->
    <section id="top">
        <div class="container-fluid">
        <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">Jan Olson</a>
                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('cv') }}">Curriculum Vitae</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href=""></a>
                        </li>
                        -->
                        <li class="nav-item mx-auto">
                            <button class="btn nav-link" type="button" data-bs-toggle="modal" data-bs-target="#contactMeForm">Contact Me (WIP)</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>